body {
    font-family:'Times New Roman', Times, serif;
    background-color: aliceblue;
}

.header {
    background-color: aqua;
    margin: 30px auto;
}

.container {
    background-color: aquamarine;
}